body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}
header, footer {
    margin-bottom: 40px;
}
header {
    text-align: center;
    padding: 20px 0;
    background-color: white;
    color: #333;
    position: relative;
}
header h1 {
    margin: 0;
    font-size: 2em;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: white;
}
a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #ff7b22;
    padding: 0;
    flex-wrap: wrap;
}
.logo-link {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.logo {
    height: 80px;
    width: auto;
    padding: 10px;
}
.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.nav-links a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1em;
}
.nav-links a:hover {
    background-color: #333;
    color: white;
}
#about, #contact {
    margin-bottom: 40px;
}

.about-images {
    display: flex;
    justify-content: center;
    gap: 20px; /* 图片之间的间距 */
    margin-bottom: 20px;
}
.about-image {
    width: 30%; /* 每张图片占据 30% 的宽度 */
    height: auto;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
    }
    .nav-links a {
        padding: 10px;
        text-align: center;
        width: 100%;
    }
    header h1 {
        font-size: 1.5em;
        height: 80px;
    }
}
